{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Вход" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3 d-flex justify-content-center">
    <h1>{% translate "Войти в аккаунт" %}</h1>
  </div>
  
  <div class="container my-3">
    <div class="mx-auto" style="width: 400px;">
      {% for message in messages %}
      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
      </div>
    {% endfor %}
    </div>
  </div>

  {% translate "Войти" as submit_button %}
  {% include "includes/user_form.html" with submit_button=submit_button%}

  <div class="container my-3 d-flex justify-content-center">
    <div class="mx-auto" style="width: 400px;">
      <p>{% translate "Впервые у нас?" %} <a href="{% url 'users:signup' %}">{% translate "Зарегистрироваться" %}</a></p>
    </div>
  </div>
{% endblock content %}
