{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block title %}
  {% translate "Письмо успешно отправлено" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3 d-flex justify-content-center">
    <h1>{% translate "Письмо успешно отправлено" %}</h1>
  </div>
  <div class="container my-3 d-flex text-center" style="width: 500px;">
    <h3>{% translate "В ближайшее время Вы получите письмо счастья с инструкцией по восстановлению своего пароля" %}</h3>
  </div>
  <div class="container my-3 d-flex justify-content-center">
    <h4>{% translate "(не забудьте проверить папку спам)" %}</h4>
  </div>

  <div class="container my-5 d-flex justify-content-center">
    <div class="mx-auto d-grid gap-2" style="width: 400px;">
      <a class="btn btn-warning d-flex justify-content-center" href="{% url 'homepage:home' %}" role="button">{% translate "На главную" %}</a>
    </div>
  </div>
{% endblock content %}
