{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Подтверждение восстановления пароля" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3 d-flex justify-content-center">
    <h1>{% translate "Подтверждение восстановления пароля" %}</h1>
  </div>
  <div class="container my-3 d-flex justify-content-center">
    <h3>{% translate "Введите новый пароль" %}</h3>
  </div>

  {% translate "Изменить пароль" as submit_button %}
  {% include "includes/user_form.html" with submit_button=submit_button %}
{% endblock content %}
