{% extends "base.html" %}

{% load i18n %}

{% block title %}
  {% translate "Восстановление пароля" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3 d-flex justify-content-center">
    <h1>{% translate "Восстановить пароль" %}</h1>
  </div>
  <div class="container my-3 d-flex justify-content-center">
    <h3>{% translate "Забыли пароль? Не беда!" %}</h3>
  </div>
  <div class="container my-3 d-flex text-center" style="width: 500px;">
    <h4>{% translate "Введите адрес электронной почты, с которым Вы регистрировались, и мы вышлем Вам инструкцию для восстановления." %}</h4>
  </div>

  {% translate "Отправить" as submit_button %}
  {% with submit_button=submit_button %}
    {% include "includes/user_form.html" %}
  {% endwith %}
{% endblock content %}
