{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  {% translate "Личный кабинет" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3">
    <h1>{% translate "Личный кабинет" %}</h1>
  </div>

  <div class="container my-3">
    <div class="row">
      <div class="col-md-4">
        <div class="my-3">
          <h3>{% translate "Здравствуй, " %}{{ request.user.username }}!</h3>
        </div>

        <figure class="figure text-center my-3" style="max-width: 300px;">
          {% if request.user.profile.image %}
            <img src="{{ request.user.profile.get_image_300x300.url }}" class="figure-img rounded img-fluid">
          {% else %}
            <img src="{% static 'img/no-avatar.jpg' %}" class="figure-img rounded img-fluid">
          {% endif %}
        </figure>
      </div>

      <div class="col-md-8">
        <form method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          {% for form in forms %}
            {% include "includes/form.html" %}
          {% endfor %}

          <div class="mb-3">
            <a class="btn btn-outline-warning" href="{% url 'homepage:coffee' %}" role="button">{% translate "Выпить кофе" %}</a>
          </div>
          <button type="submit" class="btn btn-warning">{% translate "Сохранить изменения" %}</button>
        </form>

        <div class="my-3">
          <a class="btn btn-secondary" href="{% url 'users:password_change' %}" role="button">{% translate "Изменить пароль" %}</a>
          <a class="btn btn-danger mx-3" href="{% url 'users:logout' %}" role="button">{% translate "Выйти" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-3">
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
