{% load i18n %}

<footer class="bg-body-tertiary text-center mt-auto">
  <div class="text p-3">
    © <span id="year">{% now "Y" %}</span>,
    {% translate "ООО Джангекс Маркет" %}
  </div>

  <script>
    var dateStr = "{% now "Y-m-d" %}T{% now "H:i:s" %}Z";
    var serverDate = Date.parse(dateStr);
    var clientDate = Date.now();
    var diffTime = Math.abs(serverDate - clientDate);
    var diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

    var date = new Date(diffDays < 1 ? clientDate : serverDate);

    $("#year").text(date.getFullYear());
  </script>
</footer>
