{% load static %}
{% load i18n %}

<div class="col">
  <div class="card h-100">
    <a href="{% url 'catalog:item' item.pk %}">
        <img src="{{ item.main_image.get_image_800x800.url }}" class="d-block w-100 item-image" class="card-img-top" alt="{{ item.name }}">
    </a>

    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'catalog:item' item.pk %}" class="nav-link">{{ item.name }}</a>
      </h5>
      <p class="card-text">{{ item.text|truncatewords_html:10|safe }}</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.category }}</li>
    </ul>

    <div class="card-body">
      {% for tag in item.tags.all %}
      <span class="badge bg-secondary">{{ tag }}</span>
      {% empty %}
      <span>{% translate "Теги отсутствуют" %}</span>
      {% endfor %}
    </div>
  </div>
</div>
