{% load static %}
{% load i18n %}

<div class="col">
  <div class="card h-100">
    <a href="{% url 'catalog:item' item.pk %}">
        <img src="{{ item.main_image.get_image_800x800.url }}" class="d-block w-100 item-image" class="card-img-top" alt="{{ item.name }}">
    </a>

    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'catalog:item' item.pk %}" class="nav-link">{{ item.name }}</a>
      </h5>
      <p class="card-text">{{ item.text|truncatewords_html:10|safe }}</p>
    </div>

    {% with request.resolver_match.view_name as view_name %}
      {% if view_name != 'catalog:list' %}
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{ item.category }}</li>
        </ul>
      {% endif %}
    {% endwith %}

    <div class="card-footer d-flex align-items-center flex-wrap">
      {% for tag in item.tags.all|slice:":3" %}
        <span class="badge bg-secondary me-2 mb-1">{{ tag }}</span>
      {% empty %}
        <span>{% translate "Теги отсутствуют" %}</span>
      {% endfor %}
      {% if item.tags.count > 3 %}
        <span class="badge bg-secondary me-2 mb-1">{% translate "и еще " %}{{ item.tags.count|add:"-3" }}{% translate "..." %}</span>
      {% endif %}
    </div>
  </div>
</div>
