{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  {{ item.name }} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <div id="itemCarousel" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#itemCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
            {% for image in item.images.all %}
              <button type="button" data-bs-target="#itemCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
          </div>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{ item.main_image.get_image_800x800.url }}" class="d-block w-100 item-image" alt={% translate "Главное изображение товара" %}>
              <a href="{% url 'download:file' item.main_image.image %}" class="btn btn-outline-warning position-absolute top-0 start-0 m-3 btn-sm" style="z-index: 1050; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">
                {% translate "Скачать изображение" %}
              </a>
            </div>
            {% for image in item.images.all %}
              <div class="carousel-item">
                <img src="{{ image.get_image_800x800.url }}" class="d-block w-100 item-image" alt="#{{ forloop.counter }}">
                <a href="{% url 'download:file' image.image %}" class="btn btn-outline-warning position-absolute top-0 start-0 m-3 btn-sm" style="z-index: 1050; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);">
                  {% translate "Скачать изображение" %}
                </a>
              </div>
            {% endfor %}
          </div>

          <button class="carousel-control-prev" type="button" data-bs-target="#itemCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate "Назад" %}</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#itemCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{% translate "Вперед" %}</span>
          </button>
        </div>
      </div>

      <div class="col-md-5 my-3">
        <h2 class="fw-bold">{{ item.name }}</h2>
        <p>{{ item.text|safe }}</p>
        <p><small class="text-muted">{% translate "Категория:" %} {{ item.category }}</small></p>
        <div class="mb-3">
          {% for tag in item.tags.all %}
            <span class="badge bg-secondary">{{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
