{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}
  {% translate "Главная" %} - {% translate "Джангекс Маркет" %}
{% endblock title %}

{% block content %}
  <div class="container my-3">
    <h1>{% translate "Главная" %}</h1>
  </div>

  {% include "includes/simple_list.html" %}

  <div class="container my-4 d-flex justify-content-center">
    <figure class="figure text-center">
      <img src="{% static 'img/cat.jpeg' %}" class="figure-img img-fluid rounded d-block" alt="cat">
      <figcaption class="figure-caption">{% translate "Наш главный разработчик" %}</figcaption>
    </figure>
  </div>
{% endblock content %}
